<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">

      <h1>Help with ContraDB</h1>

      <ul>
        <li><strong>Why are we here?</strong> &mdash; <%= link_to "the ‘About’ page", about_path %></li>
        <li><strong>How do I enter a dance?</strong> &mdash; <a href="https://youtu.be/1NSr-_tx08s" target="_blank">video tutorial</a></li>
        <li><strong>How do I search for dances?</strong> &mdash; <a href="https://github.com/contradb/contra/wiki/Dance-Figure-Filters" target="_">wiki page</a></li>
        <li><strong>Can someone talk me through this?</strong> &mdash; <%= mail_to Rails.application.secrets.admin_help_email, Rails.application.secrets.admin_help_name, encode: 'hex' %> is happy to help you through using the site</li>
        <li><strong>A dance I wrote is mis-entered, my name is misspelled, or I would like my dance taken down.</strong> &mdash; <%= mail_to Rails.application.secrets.admin_help_email, Rails.application.secrets.admin_help_name, encode: 'hex' %> keeps our data clean and consensual. Contact her to add information to a choreographer page representing you.</li>
        <li><strong>The site has a bug!</strong> &mdash; <%= mail_to Rails.application.secrets.admin_code_email, Rails.application.secrets.admin_code_name, encode: 'hex' %> would like to hear about it</li>
        <li><strong>what are contradb.com's dance publishing ethics?</strong> &mdash; we're currently gathering community input, please <a href="https://github.com/contradb/contra/issues/297">participate</a></li>
      </ul>
    </div>
  </div>
</div>
