<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">

<h1>Help with ContraDB</h1>

<ul>
<li><strong>Why are we here?</strong> &mdash; <%= link_to "the ‘About’ page", about_path %></li>
<li><strong>how do I enter a dance?</strong> &mdash; <a href="https://youtu.be/1NSr-_tx08s" target="_">video tutorial</a></li>
<li><strong>how do I search for dances?</strong> &mdash; <a href="https://github.com/contradb/contra/wiki/Dance-Figure-Filters" target="_">wiki page</a></li>
<li><strong>can someone talk me through this?</strong> &mdash; </li>
<li><strong></strong> &mdash; </li>
<li><strong></strong> &mdash; </li>
<li><strong></strong> &mdash; </li>
<li><strong></strong> &mdash; </li>
<li><strong></strong> &mdash; </li>
<li><strong></strong> &mdash; </li>
<li><strong></strong> &mdash; </li>
</ul>




-can someone talk me through this?
adminisaur(mailto link if logged in) is happy to screenshare with you through a dance entry learning process.

-something is broken.
admonsterator made this site. Contact him or use
github to discuss bugs.

-a dance I wrote is mis-entered, my name is misspelled, or I would like my dance taken down.
adminisaur keeps our data clean and consensual. Contact her to add information to a choreographer page representing you.

-what are contradb.com's dance publishing ethics?
link to nested help page
    </div>
  </div>
</div>
