<h1>Dialect</h1>

<% if @idioms.blank? %>
 <p>You may replace <i>gentlespoons</i> with <i>gentlemen</i>, or <i>gyre</i> with <i>gimble</i>, or <b>any term</b> with <b>any substitution</b>.</p>
<% else %>
  <% @idioms.each do |idiom| %>
    <%= idiom.term %> <%= idiom.substitution %>
  <% end %>
<% end %>
<div class='form-inline'>
  <select id="new-idiom-term" class="form-control"><option value="">Choose term...</option></select>
  <%= button_tag(content_tag(:span, new_icon_html() + ' Substitute'),
      class: 'btn btn-default btn-md btn-success show-new-idiom-dialog',
      disabled: true)
     %>
</div>
