<h1>Blogs</h1>

<% if @show_blogger_controls %>
  <div class="btn-group">
    <%= new_blog_button_html %>
  </div>
<% end %>


<table class="table table-striped table-bordered table-hover table-condensed contra-table-nonfluid">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <% if @show_blogger_controls %>
        <th>Notes</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td>
          <%= link_to(blog.title, blog_path(blog)) %>
        </td>
        <td>
          <%= blog.sort_at.strftime('%d/%m/%Y') %>
        </td>
        <% if @show_blogger_controls %>
          <td>
            <% unless blog.publish? %>
              not published
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
