<div class="figures-link-cloud">
  <% @move_prefs.each do |move| %>
    <%= content_tag :h2, {style: "font-size: #{(13 + 2.7 * Math.sqrt(@mdtab[move['value']]&.length || 0)).round}px"} do %>
      <%= move_link(move['value'], @prefs) %>
    <% end %>
  <% end %>
</div>
