<h1>Figures</h1>

<% @moves.each_with_index do |move,i| %>
  <%= content_tag :h2, {style: "font-size: #{(13 + 2.7 * Math.sqrt(@mdtab[move]&.length || 0)).round}px"} do %>
    <%= link_to move, sluggified_figure_path(move) %>
  <% end %>&nbsp;
<% end %>
