
<h1><%= @move =~ /[A-Z]/ ? @move : @move.titleize %></h1>

Followed by moves
<ul>
<% @followed_by.each do |move,dances| %>
  <li>
    <%= move %>
    <ul>
      <% dances.each do |dance| %>
        <li><%= dance.title %></li>
      <% end %>
    </ul>
  </li>
<% end %>
</ul>

<table class="table table-striped table-bordered table-hover table-condensed contra-table-nonfluid">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>

    <% @dances.each do |dance| %>
      <tr>
        <td><%= link_to dance.title, dance %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


