<p><span>User:</span> <%= link_to @program.user.name, @program.user %></p>

<h1><%= @program.title %></h1>

<div class="btn-group">
<%= copy_program_button_html(@program, label: "Copy") %>
<%= if (signed_in? && (current_user.id == @program.user_id)) then
    edit_program_button_html(@program, label: "Edit") +
    delete_program_button_html(@program, label: "Delete")
    end %>
</div>

<ol>
  <li>Box the Gnat Contra</li>
  <li>Hey in the Barn</li>
  <li>Allison Wonderland</li>
  <li>~waltz~</li>
  <li>~break~</li>
  <li>Call Me</li>
  <li>Martha's Breakup Breakdown</li>
  <li>~waltz~</li>
</ol>
