<h1>Users</h1>

<% if @show_newsletter_mailto %>
  <p><big><%= mail_to(@current_user.email, 'write a newsletter...', bcc: @users.where(news_email: true).pluck(:email).join(',')) %></big></p>
<% end %>


<table class="table table-striped table-bordered table-hover table-condensed contra-table-nonfluid">
  <thead>
    <tr>
      <th>Email</th>
      <th>Dances</th>
      <th>Programs</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td class="text-right"><%= user.dances.length %></td>
        <td class="text-right"><%= user.programs.length %></td>
      </tr>
    <% end %>
  </tbody>
</table>
