<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>

    <div class="jumbotron col-sm-8 contra_splash_jumbotron" id="contra_splash_jumbotron">
      <div>
        <h1>ContraDB</h1>
        <p>Find and Share Contra Dances</p>
        <div class="btn-toolbar">
          
          <% if !signed_in? then %>
          <div class="btn-group" role="group">
            <%= sign_up_button_html() + login_button_html() %>
          </div>
          <% end %>
          <%= about_button_html() %>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
