
<section>
  <h1 id="site-logo">ContraDB</h1>
  <div id="site-purpose">find and share contra dances</div>
</section>

<section>
  <h2>Share</h2>
  <%= new_dance_button_html %>
  <%= new_program_button_html %>
</section>

<section>
  <h2>Find</h2>

  <div class="figure-query-sentence"></div>

  <div class='figure-filter' id='figure-filter-root'>
    <select class='figure-filter-op form-control'>
      <option value="figure" selected>figure</option> 
      <option value="and">and</option> 
      <option value="or">or</option>
      <option value="then">then</option>
      <option value="no">no</option>
      <option value="all">all</option>
      <option value="not">not</option>
    </select>
    <!-- figure-filter-move will go here - thanks JS -->
    <span class='figure-filter-end-of-subfigures'></span>
  </div>

  <input id="figure-query-buffer" type='text'>

  <table id="dances-table", class="table table-bordered table-hover table-condensed", data-source="<%= dances_filter_path(format: :json) %>">
    <thead>
      <tr>
        <th>Title</th>
        <th>Choreographer</th>
        <th>User</th>
        <th>Updated</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</section>

<%= link_to 'About ContraDB.com', about_path %>
