
<section>
  <h1 id="site-logo">ContraDB</h1>
</section>

<section>
  <h2>Find Dances</h2>
  <div>
    <span class="figure-query-sentence"></span>
    <a href="https://github.com/dcmorse/contra/wiki/Dance-Figure-Filters" target="_"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
  </div>

  <div id='figure-filter-root-container'></div>

  <input id="figure-query-buffer" type='text'>

  <table id="dances-table", class="table table-bordered table-hover table-condensed", data-source="<%= dances_filter_path(format: :json) %>">
    <thead>
      <tr>
        <th>Title</th>
        <th>Choreographer</th>
        <th>User</th>
        <th>Updated</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</section>

<section>
  <h2>Contribute</h2>
  <%= new_dance_button_html %>
  <%= new_program_button_html %>
</section>

<%= link_to 'About ContraDB.com', about_path %>
