<section>
<h1>ContraDB</h1>
<p style='font-size: larger'>Explore contra dances using advanced figure search, choosing from hundreds of dances in a live, cloud-based, crowd-sourced database. <%= link_to 'Learn about our vision', about_path %>.</p>
</section>

<section>
  <h2>Share a Dance</h2>
  <%= new_dance_button_green_html %>
</section>

<section>
  <h2>Find Dances</h2>
  <div>
    <span class="figure-query-sentence"></span>
    <a href="https://github.com/contradb/contra/wiki/Dance-Figure-Filters" target="_"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
  </div>

  <div id='figure-filter-root-container'></div>

  <input id="figure-query-buffer" type='text'>

  <table id="dances-table", class="table table-bordered table-hover table-condensed", data-source="<%= dances_filter_path(format: :json) %>">
    <thead>
      <tr>
        <th>Title</th>
        <th>Choreographer</th>
        <th>Hook</th>
        <th>Formation</th>
        <th>User</th>
        <th>Entered</th>
        <th>Updated</th>
        <th>Published</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</section>

<div id='dialect-json'><%= @dialect_json %></div>
