                <div ng-if="p.ui == chooser_boolean">
                  <input type="checkbox" class="balance_edit"
                         ng-model="figure.parameter_values[$index]"
                         ng-change="userChangedParameter(figure,$index)"
                         class='form-control'/>
                </div>
                <div ng-if="p.ui == chooser_beats">
                  <select
                     ng-model="figure.parameter_values[$index]"
                     ng-options="b for b in [8,16,0,1,2,3,4,6,8,10,12,14,16,20,24,32,48,64]"
                     ng-change="userChangedParameter(figure,$index)"
                     class='form-control'>
                  </select>
                </div>
                <div ng-if="p.ui == chooser_spin">
                  <label class='radio-tweaks form-check-label'>clockwise <input type="radio" ng-model="figure.parameter_values[$index]" ng-value="true" ng-change="userChangedParameter(figure,$index)" class="form-check-inline"/></label>
                  <label class='radio-tweaks'>ccw <input type="radio" ng-model="figure.parameter_values[$index]" ng-value="false" ng-change="userChangedParameter(figure,$index)"/></label>
                </div>
                <div ng-if="p.ui == chooser_left_right_spin">
                  <label class='radio-tweaks'><input type="radio" ng-model="figure.parameter_values[$index]" ng-value="true" ng-change="userChangedParameter(figure,$index)" />left</label>
                  <label class='radio-tweaks'><input type="radio" ng-model="figure.parameter_values[$index]" ng-value="false" ng-change="userChangedParameter(figure,$index)" />right</label>
                </div>
                <div ng-if="p.ui == chooser_right_left_hand">
                  <label class='radio-tweaks'><input type="radio" ng-model="figure.parameter_values[$index]" ng-value="false" ng-change="userChangedParameter(figure,$index)"/>left</label>
                  <label class='radio-tweaks'><input type="radio" ng-model="figure.parameter_values[$index]" ng-value="true" ng-change="userChangedParameter(figure,$index)" />right</label>
                </div>
                <div ng-if="p.ui == chooser_right_left_shoulder">
                  <label class='radio-tweaks'><input type="radio" ng-model="figure.parameter_values[$index]" ng-value="false" ng-change="userChangedParameter(figure,$index)"/>left</label>
                  <label class='radio-tweaks'><input type="radio" ng-model="figure.parameter_values[$index]" ng-value="true" ng-change="userChangedParameter(figure,$index)" />right</label>
                </div>

                <div ng-if="p.ui == chooser_revolutions">
                  <select ng-model="figure.parameter_values[$index]"
                          ng-options="degreesToRotations(a) for a in anglesForMove(figure.move)"
                          ng-change="userChangedParameter(figure,$index)"
                          class='form-control'>
                  </select>
                </div>
                <div ng-if="p.ui == chooser_places">
                  <select ng-model="figure.parameter_values[$index]"
                          ng-options="degreesToPlaces(a) for a in anglesForMove(figure.move)"
                          ng-change="userChangedParameter(figure,$index)"
                          class='form-control'>
                  </select>
                </div>
                <div ng-if="p.ui == chooser_dancers">
                  <select ng-model="figure.parameter_values[$index]"
                          ng-change="userChangedParameter(figure,$index)"
                          class='form-control'>
                    <option value="everyone">everyone</option>
                    <option value="gentlespoons">gentlespoons</option>
                    <option value="ladles">ladles</option>
                    <option value="partners">partners</option>
                    <option value="neighbors">neighbors</option>
                    <option value="ones">ones</option>
                    <option value="twos">twos</option>
                    <option value="same roles">same roles</option>
                    <option value="first corners">first corners</option>
                    <option value="second corners">second corners</option>
                    <option value="first gentlespoon">first gentlespoon</option>
                    <option value="first ladle">first ladle</option>
                    <option value="second gentlespoon">second gentlespoon</option>
                    <option value="second ladle">second ladle</option>
                    <option disabled>─────────────</option>
                    <option value="shadows">shadows</option>
                    <option value="2nd shadows">2nd shadows</option>
                    <option value="next neighbors">next neighbors</option>
                    <option value="prev neighbors">prev neighbors</option>
                    <option value="3rd neighbors">3rd neighbors</option>
                    <option value="4th neighbors">4th neighbors</option>
                  </select>
                </div>
                <div ng-if="p.ui == chooser_pair">
                  <select ng-model="figure.parameter_values[$index]"
                          ng-change="userChangedParameter(figure,$index)"
                          class='form-control'>
                    <option value="gentlespoons">gentlespoons</option>
                    <option value="ladles">ladles</option>
                    <option value="ones">ones</option>
                    <option value="twos">twos</option>
                    <option value="first corners">first corners</option>
                    <option value="second corners">second corners</option>
                  </select>
                </div>
                <div ng-if="p.ui == chooser_pair_or_everyone">
                  <select ng-model="figure.parameter_values[$index]"
                          ng-change="userChangedParameter(figure,$index)"
                          class='form-control'>
                    <option value="everyone">everyone</option>
                    <option value="gentlespoons">gentlespoons</option>
                    <option value="ladles">ladles</option>
                    <option value="ones">ones</option>
                    <option value="twos">twos</option>
                    <option value="first corners">first corners</option>
                    <option value="second corners">second corners</option>
                  </select>
                </div>
                <div ng-if="p.ui == chooser_pairc_or_everyone">
                  <select ng-model="figure.parameter_values[$index]"
                          ng-change="userChangedParameter(figure,$index)"
                          class='form-control'>
                    <option value="everyone">everyone</option>
                    <option value="gentlespoons">gentlespoons</option>
                    <option value="ladles">ladles</option>
                    <option value="centers">centers</option> <%# 'centers' is the 'c' in 'pairc' %>
                    <option value="ones">ones</option>
                    <option value="twos">twos</option>
                     <%# too confusing to actually call - 'centers' should be preferred here
                      <option value="first corners">first corners</option>
                      <option value="second corners">second corners</option>
                    %>
                  </select>
                </div>
                <div ng-if="p.ui == chooser_pairz">
                  <select ng-model="figure.parameter_values[$index]"
                          ng-change="userChangedParameter(figure,$index)"
                          class='form-control'>
                    <option value="gentlespoons">gentlespoons</option>
                    <option value="ladles">ladles</option>
                    <option value="partners">partners</option>
                    <option value="neighbors">neighbors</option>
                    <option value="ones">ones</option>
                    <option value="twos">twos</option>
                    <option value="same roles">same roles</option>
                    <option value="first corners">first corners</option>
                    <option value="second corners">second corners</option>
                    <option disabled>─────────────</option>
                    <option value="shadows">shadows</option>
                    <option value="2nd shadows">2nd shadows</option>
                    <option value="next neighbors">next neighbors</option>
                    <option value="prev neighbors">prev neighbors</option>
                    <option value="3rd neighbors">3rd neighbors</option>
                    <option value="4th neighbors">4th neighbors</option>
                  </select>
                </div>
                <div ng-if="p.ui == chooser_pairs">
                  <select ng-model="figure.parameter_values[$index]"
                          ng-change="userChangedParameter(figure,$index)"
                          class='form-control'>
                    <option value="partners">partners</option>
                    <option value="neighbors">neighbors</option>
                    <option value="same roles">same roles</option>
                    <option disabled>─────────────</option>
                    <option value="shadows">shadows</option>
                    <option value="2nd shadows">2nd shadows</option>
                    <option value="next neighbors">next neighbors</option>
                    <option value="prev neighbors">prev neighbors</option>
                    <option value="3rd neighbors">3rd neighbors</option>
                    <option value="4th neighbors">4th neighbors</option>
                  </select>
                </div>
                <div ng-if="p.ui == chooser_pairs_or_ones_or_twos">
                  <select ng-model="figure.parameter_values[$index]"
                          ng-change="userChangedParameter(figure,$index)"
                          class='form-control'>
                    <option value="partners">partners</option>
                    <option value="neighbors">neighbors</option>
                    <option value="same roles">same roles</option>
                    <option value="ones">ones</option>
                    <option value="twos">twos</option>
                    <option disabled>─────────────</option>
                    <option value="shadows">shadows</option>
                    <option value="2nd shadows">2nd shadows</option>
                    <option value="next neighbors">next neighbors</option>
                    <option value="prev neighbors">prev neighbors</option>
                    <option value="3rd neighbors">3rd neighbors</option>
                    <option value="4th neighbors">4th neighbors</option>
                  </select>
                </div>
                <div ng-if="p.ui == chooser_pairs_or_everyone">
                  <select ng-model="figure.parameter_values[$index]"
                          ng-change="userChangedParameter(figure,$index)"
                          class='form-control'>
                    <option value="everyone">everyone</option>
                    <option value="partners">partners</option>
                    <option value="neighbors">neighbors</option>
                    <option value="same roles">same roles</option>
                    <option disabled>─────────────</option>
                    <option value="shadows">shadows</option>
                    <option value="2nd shadows">2nd shadows</option>
                    <option value="next neighbors">next neighbors</option>
                    <option value="prev neighbors">prev neighbors</option>
                    <option value="3rd neighbors">3rd neighbors</option>
                    <option value="4th neighbors">4th neighbors</option>
                  </select>
                </div>
                <div ng-if="p.ui == chooser_dancer">
                  <select ng-model="figure.parameter_values[$index]"
                          ng-change="userChangedParameter(figure,$index)"
                          class='form-control'>
                    <option value="first gentlespoon">first gentlespoon</option>
                    <option value="first ladle">first ladle</option>
                    <option value="second gentlespoon">second gentlespoon</option>
                    <option value="second ladle">second ladle</option>
                  </select>
                </div>
                <div ng-if="p.ui == chooser_role">
                  <select ng-model="figure.parameter_values[$index]"
                          ng-change="userChangedParameter(figure,$index)"
                          class='form-control'>
                    <option value="gentlespoons">gentlespoons</option>
                    <option value="ladles">ladles</option>
                  </select>
                </div>
                <div ng-if="p.ui == chooser_hetero">
                  <select ng-model="figure.parameter_values[$index]"
                          ng-change="userChangedParameter(figure,$index)"
                          class='form-control'>
                    <option value="partners">partners</option>
                    <option value="neighbors">neighbors</option>
                    <option disabled>─────────────</option>
                    <option value="shadows">shadows</option>
                    <option value="2nd shadows">2nd shadows</option>
                    <option value="next neighbors">next neighbors</option>
                    <option value="prev neighbors">prev neighbors</option>
                    <option value="3rd neighbors">3rd neighbors</option>
                    <option value="4th neighbors">4th neighbors</option>
                  </select>
                </div>
                <div ng-if="p.ui == chooser_text">
                  <input type="text" ng-model="figure.parameter_values[$index]"
                         ng-change="userChangedParameter(figure,$index)"
                         class='form-control'/>
                </div>
                <div ng-if="p.ui == chooser_star_grip">
                  <select ng-model="figure.parameter_values[$index]"
                          ng-change="userChangedParameter(figure,$index)"
                          class='form-control'>
                    <option ng-repeat="grip in wristGrips" ng-value='grip'>{{grip}}</option>
                  </select>
                </div>
                <div ng-if="p.ui == chooser_march_facing">
                  <label class='radio-tweaks figure-multiline-radio'><input type="radio" ng-model="figure.parameter_values[$index]" ng-value="'forward'" ng-change="userChangedParameter(figure,$index)"/> forward</label>
                  <label class='radio-tweaks figure-multiline-radio'><input type="radio" ng-model="figure.parameter_values[$index]" ng-value="'forward then backward'" ng-change="userChangedParameter(figure,$index)"/> forward then backward</label>
                  <label class='radio-tweaks figure-multiline-radio'><input type="radio" ng-model="figure.parameter_values[$index]" ng-value="'backward'" ng-change="userChangedParameter(figure,$index)"/> backward</label>
                </div>
                <div ng-if="p.ui == chooser_slide">
                  <label class='radio-tweaks'><input type="radio" ng-model="figure.parameter_values[$index]" ng-value="true" ng-change="userChangedParameter(figure,$index)"/> left</label>
                  <label class='radio-tweaks'><input type="radio" ng-model="figure.parameter_values[$index]" ng-value="false" ng-change="userChangedParameter(figure,$index)"/> right</label>
                </div>
                <div ng-if="p.ui == chooser_set_direction">
                  <select ng-model="figure.parameter_values[$index]"
                          ng-change="userChangedParameter(figure,$index)"
                          class='form-control'>
                    <option value="along">along the set</option>
                    <option value="across">across the set</option>
                    <option value="right diagonal">right diagonal</option>
                    <option value="left diagonal">left diagonal</option>
                  </select>
                </div>
                <div ng-if="p.ui == chooser_set_direction_grid">
                  <select ng-model="figure.parameter_values[$index]"
                          ng-change="userChangedParameter(figure,$index)"
                          class='form-control'>
                    <option value="along">along the set</option>
                    <option value="across">across the set</option>
                  </select>
                </div>
                <div ng-if="p.ui == chooser_gate_direction">
                  <select ng-model="figure.parameter_values[$index]"
                          ng-change="userChangedParameter(figure,$index)"
                          class='form-control'>
                    <option value="up">up the set</option>
                    <option value="down">down the set</option>
                    <option value="in">into the set</option>
                    <option value="out">out of the set</option>
                  </select>
                </div>
                <div ng-if="p.ui == chooser_slice_return">
                  <select ng-model="figure.parameter_values[$index]"
                          ng-change="userChangedParameter(figure,$index)"
                          class='form-control'>
                    <option value='straight'>straight back</option>
                    <option value='diagonal'>diagonal back</option>
                    <option value='none'>none</option>
                  </select>
                </div>
                <div ng-if="p.ui == chooser_slice_increment">
                  <label class='radio-tweaks'><input type="radio" ng-model="figure.parameter_values[$index]" ng-value="'couple'" ng-change="userChangedParameter(figure,$index)"/> couple</label>
                  <label class='radio-tweaks'><input type="radio" ng-model="figure.parameter_values[$index]" ng-value="'dancer'" ng-change="userChangedParameter(figure,$index)"/> dancer</label>
                </div>
                <div ng-if="p.ui == chooser_down_the_hall_ender">
                  <select ng-model="figure.parameter_values[$index]"
                          ng-change="userChangedParameter(figure,$index)"
                          class='form-control'>
                    <option value=''></option>
                    <option value='turn-couples'>turn as couples</option>
                    <option value='turn-alone'>turn alone</option>
                    <option value='circle'>bend into a ring</option>
                    <option value='cozy'>cozy line</option>
                    <option value='cloverleaf'>cloverleaf</option>
                    <option value='thread-needle'>thread the needle</option>
                    <option value='right-high'>right hand high, left hand low</option>
                    <option value='sliding-doors'>sliding doors</option>
                  </select>
                </div>
                <div ng-if="p.ui == chooser_zig_zag_ender">
                  <select ng-model="figure.parameter_values[$index]"
                          ng-change="userChangedParameter(figure,$index)"
                          class='form-control'>
                    <option value=''>none</option>
                    <option value='ring'>into a ring</option>
                    <option value='allemande'>trailing two catch hands</option>
                  </select>
                </div>
                <div ng-if="p.ui == chooser_give">
                  <label class='radio-tweaks'><input type="radio" ng-model="figure.parameter_values[$index]" ng-value="true" ng-change="userChangedParameter(figure,$index)"/> give &amp; take</label>
                  <label class='radio-tweaks'><input type="radio" ng-model="figure.parameter_values[$index]" ng-value="false" ng-change="userChangedParameter(figure,$index)"/> take</label>
                </div>
                <div ng-if="p.ui == chooser_go_back">
                  <label class='radio-tweaks figure-multiline-radio'><input type="radio" ng-model="figure.parameter_values[$index]" ng-value="true" ng-change="userChangedParameter(figure,$index)"/> forward &amp; back</label>
                  <label class='radio-tweaks figure-multiline-radio'><input type="radio" ng-model="figure.parameter_values[$index]" ng-value="false" ng-change="userChangedParameter(figure,$index)"/> forward</label>
                </div>
                <div ng-if="p.ui == chooser_half_or_full">
                  <label class='radio-tweaks'><input type="radio" ng-model="figure.parameter_values[$index]" ng-value="0.5" ng-change="userChangedParameter(figure,$index)"/> half</label>
                  <label class='radio-tweaks'><input type="radio" ng-model="figure.parameter_values[$index]" ng-value="1.0" ng-change="userChangedParameter(figure,$index)"/> full</label>
                </div>
