<div class="fiddly-explanation hide-at-low-res">
  may use <a href="https://guides.github.com/features/mastering-markdown/#examples" target="_">markdown</a> formatting &mdash; translated into dialect
</div>
