<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>

    <div class="col-sm-8">
      <h1>Convene great contra dances with contraDB.</h1>

      <p>What's faster than a pack of index cards, can't be lost, and 
        lets you search your favorite figure combinations? It's ContraDB.com---sculpt 
        programs choosing from every dance in your box, instead of just the ones with catchy names.</p>
      
      <p>Admonsterator made this site. Contact him or use 
        <a href="https://github.com/dcmorse/contra/issues">github</a> to discuss bugs.</p>
      
      <p>Adminisaur loves this site. Contact her to add information to a choreographer page representing you. 
      She is also happy to screenshare with you through a dance entry learning process. </p>

      <a href="http://www.codelouisville.org/">
        <%= image_tag("code-louisville.png", style: "width: 255px; height: 50px") %>
      </a>

      <p>ContraDB began as a student project
        for <a href="http://www.codelouisville.org/">Code
          Louisville</a>. Thank you, Code Louisville for your support! </p>

      <hr />
      <p>Original root page photo copyright Julia C. Chambers, used with permission.</p> 

      <p>ContraDB is Free software, released under
        the <a href="http://www.gnu.org/licenses/agpl-3.0.en.html">AGPL3
          license</a>. The <a href="http://github.com/dcmorse/contra">source
          code</a> is on Github.</p>

      <p>ContraDB copyright 2015,2016,2017 by David Morse.</p>


    </div>
    <div class="col-sm-2"></div>
  </div>
</div>


