<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>

<div class="col-sm-8">
<h1>About ContraDB</h1>

<p>ContraDB will serve as dance program designer for callers and as a
  way to share dances within the community. </p>

<p>ContraDB code by <a href="https://github.com/dcmorse">Dave
    Morse</a>. &copy; 2015-2016.</p>

<p>Original root page photo courtesy Julia C. Chambers.</p> 

<a href="http://www.codelouisville.org/">
  <%= image_tag("code-louisville.png", style: "width: 255px; height: 50px") %>
</a>

<p>ContraDB began as a student project
  for <a href="http://www.codelouisville.org/">Code
  Louisville</a>. Thank you, Code Louisville for your support! </p>

<p>The <a href="https://github.com/dcmorse/contra">source code</a> is
open and the plan is to release it under an
  <a href="http://www.gnu.org/licenses/agpl-3.0.en.html">AGPL</a>-like 
license, pending a review.</p>
</div>

    </div>
    <div class="col-sm-2"></div>


