<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>

<div class="col-sm-8">
<h1>What is ContraDB?</h1>

<p>Callers: have you ever forgotten your calling cards? Ever needed to
  make a last-second change to your program of dances? Ever figured
  out a way to improve a widely-called dance, but haven't had a way to
  share it widely?</p>
<p>With ContraDB you can store your contra dances in the cloud, access
  them from any net-connected browser, arrange multiple dances into
  programs, analyze your creations, and remix variations on others'
  published work.</p>  
<p>ContraDB is easy to use.</p>
<p>ContraDB is Free software, released under
  the <a href="http://www.gnu.org/licenses/agpl-3.0.en.html">AGPL3
  license</a>. The <a href="http://github.com/dcmorse/contra">source code</a> is on Github.</p>
<p>ContraDB needs your help! It urgently needs dances. Have you
  written dances that you could contribute into the DB? Do you have
  permission from a choreographer to post their work? Do you have
  programming and/or sys-admin skills that can aid development?
  ContraDB needs all these things. </p>
<p>ContraDB makes it easier for you to convene great contra dances.</p>

<a href="http://www.codelouisville.org/">
  <%= image_tag("code-louisville.png", style: "width: 255px; height: 50px") %>
</a>

<p>ContraDB began as a student project
  for <a href="http://www.codelouisville.org/">Code
  Louisville</a>. Thank you, Code Louisville for your support! </p>

<hr />
<p>Original root page photo copyright Julia C. Chambers, used with permission.</p> 
<p>ContraDB copyright 2015,2016,2017 by David Morse.</p>


</div>

    </div>
    <div class="col-sm-2"></div>


