<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1 style='margin-bottom: 1em'>Find great dances with ContraDB</h1>

      <p>
        What's faster than a pack of index cards, can't be lost, and
        lets you search your favorite figure combinations? It's ContraDB.com&mdash;sculpt 
        programs choosing from every dance in your box, instead of just the ones with catchy names.
      </p>


      <br/>

      <p>Today you can</p>
      <ul>
        <li> enter a dance with your smartphone, as fast as you could write a card</li>
        <li> find figure combinations (or exclude figures) to match your audience</li>
        <li> see dances in your own dialect, share dances in your own dialect --- when logged in, head to <a href="http://contradb.com/dialect">dialects</a> to customize your terms</li>
        <li> create programs</li>
      </ul>
      <br/>

      <p>In the future you will <i>also</i> be able to</p>
      <ul>
        <li> vizualize and analyze your program as you create it</li>
        <li> sort and index dances with tags</li>
      </ul>
      <br/>

      <p>If this tool improves your life: help improve it right back!</p>
      <ul>
        <li>enter more dances</li>
        <li>create programs</li>
        <li>verify people's dances when you call them</li>
      </ul>
      <%= link_to "Here's a little documentation", help_path %>.</p>

      <hr/>

      <div class="understated">
       <p>
         ContraDB is Free software, released under
         the <a href="http://www.gnu.org/licenses/agpl-3.0.en.html">AGPL3 license</a>.
         The <a href="http://github.com/contradb/contra">source code</a> is on Github.
       </p>

       <p>ContraDB copyright 2015,2016,2017,2018,2019,2020,2021 by David Morse.</p>
      </div>
    </div>
  </div>
</div>
