/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

///////////////// LIBRARIES
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-toggle";

// these three should be auto-included by jquery-ui/autocomplete ... but they're not. Not sure why. Need 'em
@import "jquery-ui/core";
@import "jquery-ui/menu";
@import "jquery-ui/theme";

@import "jquery-ui/autocomplete";
@import "angucomplete-alt";
@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";

///////////////// SCSS GLOBALS REFERENCED IN OTHER FILES
$contra-bg: #faf7e0;
$contra-grey: #F0F0EA;
// should probably put the font here, eh? -dm 12-17-2017


///////////////// PROJECT FILES
// because rails 5 / sass isn't as sexy as rails 4, we have to manually list every scss file we use here. 
// https://stackoverflow.com/questions/8887824/persisting-scss-variables-in-rails-asset-pipeline 
// -dm 12-17-2017
@import "about";
@import "choreographers";
@import "dances";
@import "figures";
@import "programs";
@import "users";
@import "dialects";
@import "welcome";
@import "help";

///////////////// CSS GLOBALS

// global color and font
body {
  font-family: 'PT Sans', sans-serif;
  background-color: $contra-bg;
}

#dances-table {
  background-color: white;
}

.navbar {
  background-color: $contra-grey;
}

.contra-table-nonfluid {
  background-color: white;
}

label {
  font-weight: bold;
}

.show-figure {
  font-family: 'PT Serif', serif;
  /* indent all but first line */
  text-indent: -1em;
  padding-left: 1em;
}

// make dance table not expand-to-fit ala
// http://stackoverflow.com/questions/10687306/why-do-twitter-bootstrap-tables-always-have-100-width
.contra-table-nonfluid {width: auto !important;}

.contra-btn-midpage {margin-bottom: 1em;}

.autocomplete-match-text { color: red; font-weight: bold; }

.contra-label { font-weight: bold; }

.understated { color: #888; }

.fiddly-explanation {
  color: #888;
  font-size: smaller;
}


.notice { 
  font-weight: bold;
  text-align: center;
}

.alert { 
  font-weight: bold;
  text-align: center;
  font-weight: bold;
  color: #F43;
}

.contra-drop-conceivable {
 padding: 0.2em 0em;
}

.contra-drop-enthusiastic {
  background-color: #CFC;
}

.contra-drag-origin {
  color: #333;
  background-color: #BBB;
}

.contra-rotate-90 { 
  transform: rotate(90deg);
}

.angucomplete-dropdown { 
  top: 32px;
  left: 25%; /* 25% at time of writing this is because we're in the 3rd column of 12 */
}

.contra-markdown-inline p {
  display: inline;
}
.contra-markdown-inline div {
  display: inline;
}
.contra-markdown-block {
}

#dialect-json {
  display: none;
}

/* fix ugly mozilla selects https://stackoverflow.com/a/38187626/5158597 */

_:-moz-tree-row(hover),  select.form-control {
  padding-right: 25px;
  background-image: url("data:image/svg+xml,\
      <svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='14px'\
           height='14px' viewBox='0 0 1200 1000' fill='rgb(51,51,51)'>\
        <path d='M1100 411l-198 -199l-353 353l-353 -353l-197 199l551 551z'/>\
      </svg>");
  background-repeat: no-repeat;
  background-position: calc(100% - 7px) 50%;
  -moz-appearance: none;
  appearance: none;
}


.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
}

s {
  text-decoration-color: #D00;
}

.no-lingo-lines {
  s, u {
    text-decoration: none;
  }
}

@media print {
  .non-printing-lingo-lines {
    s, u {
      text-decoration: none;
    }
  }
}
