// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.warn-private-blog {
  color: red;
}


.blogs-edit-content,
.blogs-create-content,
.blogs-update-content,
.blogs-new-content,
.blogs-index-content,
.blogs-show-content {
  margin-left: 15px;
  margin-right: 15px;
}
