@media only screen {
  .dance-editor .figures-edit {
    width: 100%;
  }
  .hide-at-low-res {
    display: none;
  }
}

input.dance-title-edit {
  font-weight: bold;
}

@media only screen and (min-width : 480px) {
  .dance-editor {
    margin-left: auto;
    margin-right: auto;
    width: 480px;
  }

  .dance-editor .figures-edit,
  .figure-editor-actions {
    width: 480px;
    box-sizing: border-box;
  }

  .hide-at-low-res {
    display: inline;
  }
}

input.dance-title-edit,
#choreographer-autocomplete,
#start-type-autocomplete {
  font-family: 'PT Serif', serif;
}

.figure-editor-actions {
  margin-top: 10px;
  margin-bottom: 5px;
  table {
    width: 100%;
  }
}

.dance-header-editors input {
  margin-bottom: 6px;
}

.figure-view {
  font-family: 'PT Serif', serif;
  font-size: 1.3em;
  text-decoration: none;
  color: black;

  /* indent all but first line */
  display: block;
  text-indent: -1em;
  padding-left: 1em;

  &:hover {
    text-decoration: none;
    color: #00A; /* dark blue */
  }
  &:focus {
    text-decoration: none;
    color: black;
  }
}
 
.figure-edit-label {
  height: 34px;                 /* manually sync to equal .form-control :( */
  line-height: 34px; 
  .figure-edit-label-text {
    text-align: right;
    vertical-align: top;
    display: inline-block;
    min-width: 4em;
    margin-right: 0.5em;
  }
}

.figure-value-setter-div {
  display: inline-block;
  font-weight: normal;

  .radio-tweaks {
    margin-right: 1em;
  }
  .figure-multiline-radio {
    display: block;
    margin-bottom: 0px;
  }
  select {
    min-width: 14em;
  }
  input[type=text] {
    width: 14em;
  }
  label {
    font-weight: normal;
  }
}

.dance-editor section {
  margin-top: 1.5em;

  &.dance-editor-help {
    margin-top: 3em;
  }
}

#dance-hook-initializer {
  display: none;
}

/* used in dance show */
.a1b1 {
  background-color: #F3F3F3;
  width: 1.4em;
}
.a2b2 {
  width: 1.4em;
}
.dance-show-beats {
  text-align: right;
}
tr.dance-show-long-figure td:first-child::after {
   content: "";
   display: inline-block;
   vertical-align: top;
   min-height: 3.523em;         /* double hight, approximately */
}

$a1b2beats-passive-border-color: #CCC;
$a1b2beats-selected-border-color: #888;

/* used in figure editor */
.a1b2 {
  box-sizing: border-box;
  width: 1.4em;
  border-left: 1px solid $a1b2beats-passive-border-color;
}
.beats-column {
  box-sizing: border-box;
  width: 1.4em;
  border-left: 1px solid $a1b2beats-passive-border-color;
  border-right: 1px solid $a1b2beats-passive-border-color;
  &.beats-column-top {
    border-top: 1px solid $a1b2beats-passive-border-color;
    &.selected-figure {
      border-top: 1px solid $a1b2beats-selected-border-color;
    }
  }
  &.beats-column-bottom {
    border-bottom: 1px solid $a1b2beats-passive-border-color;
    &.selected-figure {
      border-bottom: 1px solid $a1b2beats-selected-border-color;
    }
  }
  text-align: right;
  padding-right: 0.14em;
  &.selected-figure {
    background-color: white;
    color: #333;
    border-left: 1px solid $a1b2beats-selected-border-color;
    border-right: 1px solid $a1b2beats-selected-border-color;
  }
  &.beats-column-danger {
    color: #F47;                /* red */
    font-weight: bold;
    text-decoration: underline;
  }
}
.new-a1b2 {
  border-top: 1px solid $a1b2beats-passive-border-color;
}
.last-a1b2 {
  border-bottom: 1px solid $a1b2beats-passive-border-color;
}

.figure-edit-text-and-menu-dots {
  padding-left: 0.4em;
}

.dances-index-content,
.dances-show-content {
  margin-left: 15px;
  margin-right: 15px;
}

.dances-show-content {
  .dance-show-title,
  .dance-show-choreographer,
  .dance-show-formation,
  .dance-show-hook,
  .dance-show-preamble,
  .dance-show-notes,
  .a1b1,
  .a2b2 {
    font-family: 'PT Serif', serif;
  }
}
