// Place all the styles related to the dances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.figure-view {
  font-family: 'Satisfy', cursive;
  font-size: 1.3em;
  text-decoration: none;
  padding-left: 0.4em;
  color: black;
  &:hover, &:focus {
    text-decoration: none;
    color: #007; /* dark blue */
  }
}

.figure-edit-label {
  text-align: right;
  width: 4em;
  margin-right: 0.5em;
  display: inline-block;
  vertical-align: top;
}
.figure-value-setter-div {
  display: inline-block;
  .radio-tweaks {
    margin-right: 1em;
  }
  select {
    min-width: 13em;
  }
  input[type=text] {
    width: 13em;
  }
}

// below here predates new figure editor-dm 10-01-2016




.happy_beats {border-top: solid black}
.grumpy_beats {@extend .happy_beats; color:red;}

.per_dance_notes_edit {height: 8em;}

.dance-title-edit { font-size: 225%; font-weight: bold;}

.a1b1 { background-color: #F3F3F3 }
.a2b2 {  }
