// Place all the styles related to the Figures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.figures-index-content,
.figures-show-content {
  margin-left: 15px;
  margin-right: 15px;
}

.figures-index-content {
  max-width: 30em;
  text-align: justify;
   white-space: prewrap;
}

.figures-index-content h2 {
   display: inline;
   white-space: nowrap;
}

.figures-index-content h2:nth-child(even) {
  font-family: 'PT Serif', serif;
}

.figures-index-content h2:nth-child(3n+1) {
  a {color: #0A7;}
}

.figures-index-content h2:nth-child(3n) {
  a {color: #21D;}
}

.figure-nobullets ul {
  list-style: none;
  padding-left: 0px;
}

.figure-table-striping {
  background-color: #f9f9f9;    /* try to match bootstrap */
}
