// Place all the styles related to the Programs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activity-text-overshadowed-by-dance {
    font-size: larger;
    font-weight: bold;
}

.empty-activity {
    color: #888;
    font-style: italic;
}