$icon-font-path: "bootstrap/"; /* https://stackoverflow.com/questions/25227622/error-with-javascript-enabled-tests-bootstrap-3-rails-4-travis-ci */
@import "bootstrap";

.welcome-index-content {
  margin-left: 15px;
  margin-right: 15px;
  section {
    margin-bottom: 3em;
  }
}

#dances-table .sorting:hover {
  cursor: pointer;
  cursor: hand;
}

/* hide search label, use placeholder instead */
#dances-table_filter {
  position: relative;
  margin-bottom: 0.7em;
  label {
    visibility: hidden;
    input {
      visibility: visible;
      position: absolute;
      left: 0px;
      top: 0px;
    }
  }
}

#site-purpose {
  font-size: 22.5px;
  font-weight: bold;
  margin-bottom: 18px;
}

#site-logo {
  font-size: 55px;
}

.figures-link-cloud {
  text-align: justify;

  a {
    margin-right: 10px;
  }

  h2 {
    display: inline;
    white-space: nowrap;
  }
}

#dances-table_filter input {
    margin-bottom: 1em;
    width: 100%;
    margin-top: -20px;
    margin-left: 0px;
    @extend .input-lg           /* overwrite too-small .input-sm provided by datatables */
}

/* figure filters */

.figure-filter {
  margin-left: 2em;
  margin-top: 5px;
  display: table;
  @extend .form-inline;
}

/* Display 'and', 'or', or 'follows' between binary++ operand terms */
.figure-filter + .figure-filter:before {
  content: attr(data-op);
  display: block;
}

.figure-filter-add {
  display: block;
  margin-top: 0.4em;
  margin-left: 2em;
  @extend .btn;
  @extend .btn-default;
}

.figure-filter-remove {
  @extend .btn;
  @extend .btn-default;
}

.figure-filter-move {
  /* space out the figure-filter-remove button, if it's there. Don't
     style the left margin of the close button, because that mucks up
     it's alignment when it's on it's own line (i.e. when on mobile) */
  margin-right: 0.4em;          
}

.figure-filter-op + .figure-filter-remove {
  /* sometimes the close is scrunched up against the op, in which case
     space it out a little like above */
  margin-left: 0.4em;          
}


#figure-filter-root {
  margin-left: 0em;
  margin-bottom: 40px;
}

#figure-query-buffer {
  display: none;
}

