$icon-font-path: "bootstrap/"; /* https://stackoverflow.com/questions/25227622/error-with-javascript-enabled-tests-bootstrap-3-rails-4-travis-ci */
@import "bootstrap";

.welcome-index-content {
  margin-left: 15px;
  margin-right: 15px;
  section {
    margin-bottom: 3em;
  }
}

#dances-table {
  max-width: 100% !important;
}

#dances-table .sorting:hover {
  cursor: pointer;
  cursor: hand;
}

#dances-table_filter {
  position: relative;
  margin-bottom: 0.7em;

  label {   /* hide search label, use a placeholder instead */
    visibility: hidden;
    input {
      visibility: visible;
      position: absolute;
      left: 0px;
      top: 0px;
    }
  }
  input {
    margin-bottom: 1em;
    width: 100%;
    margin-top: -20px;          /* WEIRD 1of2 move above our normal box! */
    margin-left: 0px;
    @extend .input-lg           /* overwrite too-small .input-sm provided by datatables */
}

}

#dances-table_wrapper {
  margin-top: 29px;             /* WEIRD 2of2 make space above normal box! */
}

/* figure filters */

.figure-filter {
  margin-left: 2em;
  margin-top: 5px;
  display: table;
  @extend .form-inline;
}

/* Display 'and', 'or', or 'then' between binary++ operand terms */
.figure-filter + .figure-filter:before {
  content: attr(data-op);
  display: block;
}

.figure-filter-add {
  display: block;
  margin-top: 0.4em;
  margin-left: 2em;
  @extend .btn;
  @extend .btn-default;
}

.figure-filter-remove {
  @extend .btn;
  @extend .btn-default;
}

.figure-filter-move {
  /* space out the figure-filter-remove button, if it's there. Don't
     style the left margin of the close button, because that mucks up
     it's alignment when it's on it's own line (i.e. when on mobile) */
  margin-right: 0.4em;          
}

.figure-filter-op + .figure-filter-remove {
  /* sometimes the close is scrunched up against the op, in which case
     space it out a little like above */
  margin-left: 0.4em;          
}

#figure-filter-root {
  margin-left: 0em;
}

#figure-query-buffer {
  display: none; 
}


.figure-filter .ellipsis-expanded {
   @extend .btn-primary;
}

.figure-filter-accordion {
  margin-left: 2em;
  tr {
    min-height: 34px;
    div.radio {
      display: block;           /* Bootstrap why aren't you stacking them without this? */
      line-height: 34px;
    }
  }
}

.chooser-label-text {
  text-align: right;
  vertical-align: top;
  line-height: 34px;            /* sync to form-control */
  /* display: inline-block; */
  padding-right: 2em;
}

select.chooser-argument {
  min-width: 10em;
}

.table-column-vis-toggles {
  @extend .btn-group;
}

.table-column-vis-wrap label {
  font-weight: normal;
  font-size: 12px; /* match buttons */
  margin-right: 0.5em;
}

.toggle-vis-active {
  @extend .btn-default;
}

.toggle-vis-inactive {
  background-color: $contra-grey;
  @extend .btn-default;
}