.welcome-index-content {
  margin-left: 15px;
  margin-right: 15px;
  section {
    margin-bottom: 3em;
  }
}

#dances-table .sorting:hover {
  cursor: pointer;
  cursor: hand;
}

/* hide search label, use placeholder instead */
#dances-table_filter {
  position: relative;
  margin-bottom: 0.7em;
  label {
    visibility: hidden;
    input {
      visibility: visible;
      position: absolute;
      left: 0px;
      top: 0px;
    }
  }
}

#site-purpose {
  font-size: 22.5px;
  font-weight: bold;
  margin-bottom: 18px;
}

#site-logo {
  font-size: 55px;
}

.figures-link-cloud {
  text-align: justify;

  a {
    margin-right: 10px;
  }

  h2 {
    display: inline;
    white-space: nowrap;
  }
}

/* figure filters */

.figure-filter {
  margin-left: 2em;
  margin-top: 5px;
  // border: 1px solid #CCC;
  width: fit-content; // not in IE
  /* display: table; */
}


.figure-filter + .figure-filter:before {
  content: attr(data-op);
  display: block;
  margin-left: -2em;
}


#figure-filter-root {
  margin-bottom: 20px;
}

#query-buffer {
  display: none;
}