.welcome-index-content {
  margin-left: 15px;
  margin-right: 15px;
}

#dances-table .sorting:hover {
  cursor: pointer;
  cursor: hand;
}

#site-purpose {
  font-size: 22.5px;
  font-weight: bold;
}

#site-logo {
  font-size: 55px;
}