<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @choreographer.name %>
</p>

<%= link_to 'Edit', edit_choreographer_path(@choreographer) %> |
<%= link_to 'Back', choreographers_path %>
