<p id="notice"><%= notice %></p>

<h1>
  <%= @choreographer.name %>
</h1>


<%= new_dance_button_html({choreographer_id: @choreographer.id}) %>


<%= render partial: "dances/showtable", object: @choreographer.dances, 
    locals: {choreographer: false} %>






